:root {
    --primary-color: #fff;
    --secondary-color: rgba(1, 24, 10, 0.918);
    --tertiary-color: rgba(4, 119, 48, 0.513);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

/* Apply Header Styles */
header {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 45px 10px 45px;
    background-color: var(--tertiary-color);
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;   
}

header nav {
    display: block;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 24px;
    border-bottom: 2px var(--secondary-color) solid;
    margin:0 10px 0 10px;
}
/* Apply "hero" styles */
div {
    display: flex;
    background-image: url("../images/pexels-s-migaj-747964b.jpg");
    background-position: bottom;
    background-size: 100%;
    background-position-y: 50%;
    min-height: 300px;
}

div h3 {
    color: var(--primary-color);
    font-family: sans-serif;
    font-style: italic;
    font-size: 32px;
}

footer {
    color: var(--secondary-color);
    display: flex;
    position: ;
    padding: 10px 45px 10px 45px;
    background-color: var(--tertiary-color);
}